body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* start of supporting organization */
.supporting_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 4rem; 
    gap: 2rem; 
}
.left_col{
    background-color: #002b49;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1rem;
}
.left_col a{
    color: white;
}
.left_col .row_1{
    font-size: 24px;
    color: white;
    font-weight: bold;
  
}
.left_col .heading{
    color: white;
    font-weight: bold;
}

/* -------------------------------- */
.right_col {
    display: grid;
    gap: 2rem;
}
.right_col a{
   text-decoration: none;
}

.right_col .row_item{
    display: flex;
    gap: 4rem;
    padding: 1rem 2rem;
    background-color: #047bc1;
    color: white;
    align-items: center;
}
.right_col .row_item img{
    width: 70px;
}
.right_col .row_item .text{
    font-size: 24px;
}



/* end of supporting organzation */

.main-footer{
    background-color: #002b49;
    color: white;
    padding: 0 4rem;
}
.main-footer a{
    /* background-color: #002b49; */
    color: white;
    /* display: grid; */

}
.main-footer a:hover{
   text-decoration: none;

}
.footer-row-1{
    border-bottom: 0.5px solid white;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 1rem;
    gap: 2rem;
}
.footer-row-1 .row-1-col-1{
    display: grid;
    place-content: center;

}
.footer-row-1 .row-1-col-1 img{
    max-width: 50%;
    width: 100%;
    color: white;
   filter: invert(100);
}

.footer-row-1 .row-1-col-2{
    display: grid;
    row-gap:1rem ;
}
.row-1-col-2 .col-2-row-1{
    font-size: 1.2rem;
    font-weight:bold;
    display: flex;
    align-items: center;

}
.row-1-col-2 .col-2-row-2{
    /* background-color: rgba(240, 255,255,0.192 ); */
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(60px, 1fr));
    align-items: center;
    gap: 1rem;
    
}

.row-1-col-2 .col-2-row-2 a{
    text-decoration: none;
    font-size: 20px;

}
.row-1-col-2 .col-2-row-3{
    /* background-color: rgba(132, 142,233,0.192 ); */
    display: flex;
    align-items: center;
} 
/* --------------------------------------- */
.footer-row-2{
 padding: 1rem 0;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 gap:2rem ;
}
.footer-row-2 div[class^="row-2-col-"] {
    /* display: grid; */
}

.footer-row-2 div[class^="row-2-col-"] .head {
    font-weight: bold;
    padding: 1rem 0;
}

.footer-row-2 div[class^="row-2-col-"] .body {
    display: grid;
    row-gap: 0.5rem;


}

/* --------------------------------------- */

.footer-row-3{
    border-top: 0.5px solid white;
    display: grid;
   grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    padding: 2rem 0;
}
.footer-row-3 .row-3-col-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: flex-end;
    text-align: right;
    gap: 1rem;
}

.footer-row-3 .row-3-col-2 a{
        /* background-color: rgb(103, 103, 234, 0.638); */
 }


